<h1>Users</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Name</th>
            <th style="width: 30%">Email</th>
            <th style="width: 30%">CPF</th>
            <th style="width: 30%">CNPJ</th>
            <th style="width: 30%">Phone</th>
            <th style="width: 30%">Role</th>
            <th style="width: 30%">Social Media</th>
            <th style="width: 30%">Address</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.cpf || 'Not informed'}}</td>
            <td>{{user.cnpj || 'Not informed'}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.role}}</td>
            <td>{{user.socialmedia}}</td>
            <td>{{user.address}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="user.isDeleting">
                    <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!user.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!users">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>